<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <style>
    body, html {
      height: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    
    body {
      text-align: center;
    }
    
    h1 {
      margin-bottom: 25px;
      font-size: 28px; 
      font-weight: bold; 
    }
    
    .links {
      display: flex;
    }
    
    .links a {
      margin: 0 10px;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <h1>Welcome to the Home Page</h1>
  <div class="links">
    <a href="/users/login">Login</a>
    <a href="/users/register">Register</a>
  </div>
</body>
</html>